/* babes fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Bebas Neue', cursive; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000;
}

:root {
    --bs-OrangC: #FA804C;
    --bs-BtnC: #3D4FF3;
    --bs-SpopingC: #363958;
    --bs-hOneC:#363958;
}

/* main css */

/* header section styles */
#header,
.navbar {
    background-color: #FFF9F4;
}

img.narber-brand.w-10 {
    width: 90px;
}

section#headerBottom,
#header-top {
    margin-top: 76px;
}

.title-box img {
    min-width: 100%;
    max-height: 500px;
}

/* CASUAL SHOES AREA */
.card-img {
    background: #7768682e;
}
.shoes-title, h3{
    color: var(--bs-hOneC);
}
.shoes-title{
    padding: 2rem 0 1.5rem 0;
}
.dolar{
    color: var(--bs-OrangC);
    font-weight: 800;
    font-size: 2rem;
}
.casual-shoes-area{
   margin: 3rem 0;
}
